{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "> 1%"
        },
      }
    ],
    "react"
  ],
  "plugins": [
    ["react-css-modules", {
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      },
      "generateScopedName": "[hash:8]"
    }]
  ]
}
